.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../src/images/background-image.jpg'); /* Caminho para a imagem */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}


.app-header {
  background-color: #0149da;
  padding: 20px;
  color: white;
  text-align: center;
}

.app-main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: rgba(255, 241, 241, 0.616); /* Fundo colorido com opacidade */
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.form-container h2{
  color: #6e6565;
  margin-bottom: 20px;
}

.form-container button {
  display: flex;
  margin: 0 auto;

}

.form-row {
  margin-bottom: 10px;
}

.form-column {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
}
.app-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
}