
/* Estilos para o componente ProductPage */
.produto-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  
   
  
  .image-carousel {
    overflow: hidden;
    border-radius: 5px;
    width: 500px; /* Define a largura da imagem como 300 pixels */
     height: 500px; /* Mantém a proporção original da imagem */

  }
  
   
  
  .image-carousel img {
    width: 100%;
    height: 500px; /* Mantém a proporção original da imagem */
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel{
    background-color: tranparent;
  } 
  
  .image-carousel img.active {
    transform: scale(1);

  }
    
  .product-info1 {
    width: 300px;
    padding: 50px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }
  
   
  
  .product-info1 h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
   
  
  .product-info1 p {
    font-size: 16px;
    margin-top: 10px;
    padding: 20px;
  }
  
   
  
  .product-info1 h3 {
    margin-top: 20px;
    font-size: 18px;
  }
  
   
  .adicionar-carrinho-button{
    display: block;
    width: 5px;
    padding: 5px;
    background-color: #af4c8e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: not-allowed;

  }

  button#comprar-button {
    display: block;
    width: 150px;
    padding: 10px;
    background-color: #af4c8e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: not-allowed;
  }
  
   
  
  button#comprar-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background-color: transparent !important;
}
.quantity-controls{
  display: flex;
  align-items: center;
}

/* Estilo básico das estrelas */
.product-rating span {
  font-size: 24px; /* Tamanho da fonte das estrelas */
  color: gold; /* Cor das estrelas (pode ajustar para a cor desejada) */
}

/* Estilo das estrelas preenchidas */
.star-filled {
  color: gold; /* Cor das estrelas preenchidas */
}

/* Estilo das estrelas vazias */
.star-empty {
  color: #ccc; /* Cor das estrelas vazias (pode ser uma cor mais clara) */
}

/* Estilo da estrela do meio (meia estrela) */
.star-half {
  color: gold; /* Cor da meia estrela (a mesma cor das estrelas preenchidas) */
  position: relative; /* Permite ajustar a posição da meia estrela */
}

/* Ajustar a posição da meia estrela para exibir apenas metade dela */
.star-half::before {
  content: "★"; /* Usamos um símbolo de estrela em vez de uma meia estrela */
  position: absolute;
  left: -0.4em; /* Ajusta a posição horizontal para exibir metade da estrela */
  top: 0; /* Alinha verticalmente com as outras estrelas */
}
