.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-section,
.create-account-section {
  padding: 20px;
  background-color: transparent;
  width: 400px;
  height: 60vh;
  margin: 0 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-section h2,
.create-account-section h2 {
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 5px;
}

.login-form input,
.create-account-button,
.login-form button {
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.login {
  text-align: center;
  background-color: #1C1C1C;
  color: #fff;
  cursor: pointer;
  display: block;
  border: none;
}

.login:hover {
  background-color: #008BBF;
}


.create-account-button {
  text-align: center;
  background-color: #1C1C1C;
  color: #fff;
  cursor: pointer;
  display: block;
  border: none;
}

.create-account-button:hover {
  background-color: #008BBF;
}

.forgot-password {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  margin-top: 20px;
}

.icon {
  margin-left: 5px;
}

.divider {
  width: 1px;
  height: 80%;
  background-color: #ccc;
  margin: 0 20px;
}

.login-caixa-text{
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid white;
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

